h1 {
    color: red;
  }
p {
    color: burlywood;
}

li {
list-style-type: none;
color: cyan;
}

.special {
    color: orange;
    font-weight: bold;
  }
  
  li em {
    color: rebeccapurple;
  }
  
  a:hover {
    text-decoration: none;
    color: lime;
  }
  