.header {
  font-family: "Lucida Console", monospace; 
  background-color: #ADDFB3;
  text-align: center;
  padding: 20px;
}
header h1 {
  color: black;
}

 h1 {
    color:#000000;
    text-align: center;
  }

  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 25;
    left: 0;
    background-color: #d4f0d7;
    overflow-x: hidden;
  }
  
  /* Side navigation links */
  .sidenav a {
    font-family:"Lucida Console", monospace;
    font-size: large;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
  }

  .sidenav a:hover {
    background-color: #d5e88a;
    color: black;}

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius:50% ;
      width: 200px;
      object-fit: contain;
    }