.header {
    font-family: "Courier New", Courier, monospace; 
    background-color: #ADDFB3;
    text-align: center;
    padding: 20px;
  }
  header h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
  
   h1 {
      color:#000000;
      text-align: center;
    }

    .sidenav a {
      font-family:"Courier New", Courier, monospace;
      font-size: large;
      color: black;
      padding: 16px;
      top: 40px;
      left: 16px;
      text-decoration: underline;
      display: inline-block;

      .sidenav a:hover {
        background-color:#d5e88a;
        color: black;}

        section.gallery {
          margin: 5px;
          border: 1px solid #ccc;
          float: left;
          width: 180px;
        }
        
        section.gallery:hover {
          border: 1px solid #777;
        }
        
        section.gallery img {
          width: 100%;
          height: auto;
        }
        
        section.desc {
          padding: 15px;
          text-align: center;
        }