
/* header ie.. background color*/
.header {
  font-family: "Courier New", Courier, monospace; 
  background-color: #addfb3;
  text-align: center;
  margin-left: 200px;
  padding: 20px;
}
header h1 {
  font-family: 'Courier New', Courier, monospace;
  color: black;
}
 h1 {
    color:#000000;
    text-align: center;
  }
  
  .box1 {
    width: 600px;
    border: 1px dotted seagreen;
    background-color: #c7eacb;
    padding: 50px;

  p.content {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
  }

  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #d4f0d7;
    overflow-x: hidden;
  }
  
  /* Side navigation links */
  .sidenav a {
    font-family:"Courier New", Courier, monospace;
    font-size: large;
    color: black;
    padding: 16px;
    text-decoration: underline;
    display: block;
  }

  .sidenav a:hover {
    background-color: #d5e88a;
    color: black;}
  
    /* img */
    img {
      display: block;
      border-radius: 75%;
      margin: auto;
      width: 400px;
      height: 400px;
      object-fit: contain;
    }

