
/* header ie.. background color*/
.header {
  font-family: "Courier New", Courier, monospace; 
  background-color: #addfb3;
  text-align: center;
  margin: 200px;
  padding: 20px;
}
header h1 {
  font-family: 'Courier New', Courier, monospace;
  color: black;
}
 h1 {
    color:#000000;
    text-align: center;
  }
  
  .box1 {
    width: 600px;
    border: 1px dotted seagreen;
    background-color: #c7eacb;
    padding: 50px;
    margin-left: 200px;
  

  p.content {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
  }

  nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top:0px;
    left: 20px;
    z-index: 1;
    background-color: #d4f0d7;
    overflow-x: hidden;
  }
  
  /* Side navigation links */
  .sidenav a {
    font-family:"Courier New", Courier, monospace;
    font-size: large;
    color: black;
    padding: 16px;
    text-decoration: underline;
    display: block;
  }

  .sidenav a:hover {
    background-color: #d5e88a;
    color: black;}

    /* img */
    img {
      display: block;
      border-radius: 75%;
      margin-left: auto;
      margin-right: auto;
      width: 400px;
      height: 400px;
      object-fit: contain;
    }

